<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorias</title>
</head>
<body>
    <h1>Lista de categorias</h1>

    <table>
        <thead>
            <th>ID</th>
            <th>Nombre Categoria</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            {% for categoria in categorias %}
                <tr>
                    <td>{{categoria.id}}</td>
                    <td>{{categoria.nombre}}</td>
                    <td><a href="{% url 'videojuego:eliminar_categoria' categoria.id %}">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>